.chart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
}

.chart-container .item {
  width: 160px;
  max-width: 160px;
}

.apexcharts-legend-series {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px !important;
}