td{
    overflow-wrap: break-word;
    font-size: 17px;
}
th{
  font-size: 18px;
}
.trash-button {
    font-size: 1.7rem;
    background: none;
    color: #7f89a2;
  }
 
  .trash-button:hover {
    color:red;
  }
  .checkbox{
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    width: 30%;
    padding-top: 5px;
    text-align: center;
  }

  .cardPrincipal{
    justify-content: center !important;
    
  }

  .cardListagem{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
  }

  table thead .caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    }
    
    table thead .dropup .caret, table thead .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    margin: 0;
    content: "";
    }
    span.order{
      margin: 0;
      overflow-wrap: break-word ;
    }


    .react-bootstrap-table-pagination-list {
      text-align: center;
      transform: translateX(-50%);
    }
    
    .react-bootstrap-table-page-btns-ul {
      float: none;
    }
    .scrollExpandir{
        min-height: 350px ;
        max-height: 500px ;
        overflow: auto;
    }
    div.row-expansion-style{
        padding: 1px 0 1px 0 !important;
    }