.side_drawer {
  height: 100%;
  background: #002147;

  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  max-width: 250px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side_drawer.open {
  transform: translateX(0);
}

.side_drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
}

.side_drawer li {
  margin: 0.5rem 0;
}

.side_drawer a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.2rem;
}

.side_drawer a:hover,
.side_drawer a:active {
  color: #61dafb;
}

@media (min-width: 769px) {
  .side_drawer {
    display: none;
  }
}
