html,body{
  height: 100%;
  width: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Codigos genericos*/
.titulo{
  background-color: #002147;
  text-align: center;
  width: 100%;
  font-size: 16px;
  color: #fff;
}
.titulo h1,h2,h3{
  margin-top:0px;
}

.rodape{
  background-color: #002147;
  color: #fff;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

/*Codigos referentes ao App.js*/
.ufflogo{
    width: 95px;
    height: 120px;
}

.sidenav {
  height: 100%; 
  width: 160px; 
  position: relative; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #2f56ca; 
  overflow-x: hidden;
  padding-top: 20px;
  float: left;
  padding-top:0;
  align-items: stretch;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: block;
}

.sidenav a:hover {
  color: #4e9767;
  text-decoration: none;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

div.checkbox_select{
  width: 200px;
}
.checkbox_select_anchor{
  display: block;
  background:#002147;
  color: white;
  cursor: pointer;
  padding: 10px 5px 5px;
  position: relative;
}
.checkbox_select_anchor:after{
  width: 0; 
}


.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


