.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer-container {
  flex: 1;
}

.title-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.alert{
  margin-top: -35px;
  margin-right: -25px;
  max-height: 75px;
  margin-bottom: 0;
  padding: 10px;
}

.alert-title{
  font-size: 1rem !important;
}

p {
  color: #bf1650;
}

p::before {
  display: inline;
  content: "⚠ ";
}

