.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer-container {
  flex: 1;
}
textarea:required:not(:placeholder-shown):invalid,input:required:not(:placeholder-shown):invalid {
  border-color: red;
}
